.side_bar{
  width: 300px;
  color: $whitecolor;
  font-weight: bold;

  &__header{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box{
      height: calc(100px - 80px);
      width: calc(300px - 20px - 20px);
      margin: 0px 20px;
      background-color: $blackcolor;
      display: flex;
      justify-content: space-between;

      &__user-name{
        line-height: 100%;
        font-size: 16px;
      }

      &__menu{
        width: 60px;
        display: flex;
        justify-content: flex-end;

        li{
          a {
            color: $whitecolor;
            display: block;
            padding-left: 5px;
            margin-top: 2px;
            line-height: 100%;
          }
        }
      }
    }
  }

  &__groups{
    height: calc(100vh - 100px);
    padding: 20px 20px 0px;
    background-color: #2f3e51;
    overflow: scroll;

    &__box{
      height: calc(20px + 15px + 5px + 11px + 40px);
      width: 100%;
      
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }

    // &__box2{
    //   height: calc(20px + 15px + 5px + 11px + 40px);
    //   width: 100%;
      
    //   &__group-name{
    //     font-size: 15px;
    //     margin-bottom: 5px;
    //   }

    //   &__message{
    //     font-size: 11px;
    //     margin-bottom: 40px;
    //   }
    // }
  }
}